<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

<title>Collection</title>

<!-- ✅ collection 전용 CSS -->
<link rel="stylesheet" href="/static/css/collection.css">

<!-- JS -->
<script src="/static/js/collection.js" defer></script>

</head>

<body>

<div class="wrap">

  <button class="back-btn" onclick="location.href='/'">BACK</button>

  <div id="collectionArea"></div>

</div>

</body>
</html>