<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover" />

  <title data-i18n="collection_title">Collection</title>

  <link rel="stylesheet" href="/static/css/collection.css">


  <script src="/static/js/collection.js" defer></script>
</head>

<body>

<div class="wrap">

  <button class="back-btn" onclick="location.href='/'" data-i18n="back">
    BACK
  </button>

  <div id="collectionArea"></div>

</div>

</body>
</html>